# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# Large datasets
dataset/
notebook/*.csv

uploads/